<p id="notice"><%= notice %></p>

<p>
  <strong>Razao social:</strong>
  <%= @clinica.razao_social %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @clinica.nome_fantasia %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @clinica.cnpj %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @clinica.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @clinica.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @clinica.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @clinica.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @clinica.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @clinica.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @clinica.cep %>
</p>

<%= link_to 'Edit', edit_clinica_path(@clinica) %> |
<%= link_to 'Back', clinicas_path %>
